<!-- sections/cart-icon-bubble.liquid -->
<a href="{{ routes.cart_url }}" class="cart-link flex items-center" id="cart-icon-bubble">
  {% render 'icon-cart' %}
  {%- if cart != empty -%}
    <div class="cart-count-bubble">
      {%- if cart.item_count < 100 -%}
        <span aria-hidden="true">{{ cart.item_count }}</span>
      {%- endif -%}
    </div>
  {%- endif -%}
</a>
