
{% comment %} <script src="{{ 'product-script.js' | asset_url }}" defer></script> {% endcomment %}
{% comment %} <script type="application/json" id="product-data"> {{ product | json }} </script> {% endcomment %}


<section class="max-w-5xl mx-auto px-4 py-10 space-y-8">
  <!-- Product Reviews -->
  {% comment %} <div id="product-reviews" class="pt-10 border-t mt-10">
    <h2 class="text-xl font-bold mb-4">Customer Reviews</h2>
    <div id="shopify-product-reviews" data-id="{{ product.id }}"></div>
  </div> {% endcomment %}
</section>

{% schema %}
{
  "name": "t:general.product",
  "settings": [],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
